.history
.vscode
/target
sandbox/.docker/pgdata
sandbox/kubernets
sandbox/.docker/nginx
files/cert.pem
files/key.pem
.env
docker-compose.yaml
docker-compose-prod.yaml
docker-compose-infra.yaml
config
k8s
nginx.conf
consolidado.pdf